JWT_KEY=super_secret_key_must_be_at_least_32_chars_long
JWT_ISSUER=ReactCore
JWT_AUDIENCE=ReactCoreUser
ConnectionStrings__DefaultConnection=Server=(localdb)\\mssqllocaldb;Database=ReactCoreDb;Trusted_Connection=True;MultipleActiveResultSets=true
CORS_ORIGIN=http://localhost:3000
